* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow-y: hidden;
}
.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100vh;
  position: relative;
}
.scroll-container {
  display: flex;
  width: 500%;
  height: 50vh;
}
.section {
  width: 20%;
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: blue;
}
#sectionmiddle{
  padding: 0px;
}
.baseFED{
  position: absolute;
  top: 20px;
}